@forward "./reset";

body {
	font-family: Verdana, Geneva, sans-serif;
}

.section {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #000;

	&__heading {
		position: relative;
		z-index: 5;

		color: transparent;

		font-size: clamp(5rem, 10vw, 15rem);
		letter-spacing: 0.1rem;
		text-transform: uppercase;

		&::before {
			content: attr(data-text);
			position: absolute;
			top: 0.4rem;
			left: 0.4rem;
			z-index: -1;
			background: linear-gradient(45deg, #ff0, #0f0, #f00, #00f, #0f0);
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}

		&::after {
			content: attr(data-text);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: linear-gradient(
				to bottom,
				#333 0%,
				#333 50%,
				#111 50%,
				#111 100%
			);
			-webkit-background-clip: text;
			background-clip: text;
		}
	}
}
